.txar {
	display: block;
	width: 88%;
	margin: 0 auto;
	padding: 3%;
	word-break: break-all;
	overflow-x: hidden;
	overflow-y: auto;
}

.sct {
	width: 50%;
	padding: 1%;
}

.btn {
	width: 88%;
	margin: 0 auto;
	text-align: center;
	line-height: 2;
	background: #FF0;
	border: solid 0.06rem #999;
}
.btnn {
	font-style: italic;
	color: #777;
	background: #CCC;
}

.barBtn {
	padding: 0 1rem 0.3rem 0;
	text-align: right;
	color: blue;
}
.barBtn a {
	color: blue;
}

.momo2 {
	width: 90%;
	margin: 0 auto;
	color: #F00;
	word-break: break-all;
}

.pmp {
	color: #999;
	font-style: italic;
}

.txt {
	margin: 0 3%;
	word-break: break-all;
}

.nqc {
	color: #F00;
	font-weight: bold;
	font-size: 1.5rem;
}
